/*
    ? @document-start
    ====================================
    | PRIMARY STYLESHEET FOR RUN BUDDY |
    ==================================================================================================================================

    ? @author:                 Run Buddy Team, William J. Horn
    ? @document-name:          primary-style.css
    ? @document-created:       02/14/2022
    ? @document-modified:      02/23/2022
    ? @document-version:       v1.0.0.0

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-about
    ==================
    | ABOUT DOCUMENT |
    ==================================================================================================================================

    Primary styles for run buddy landing page

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-changelog
    ======================
    | DOCUMENT CHANGELOG |
    ==================================================================================================================================

    * If this program supports changelog records then there should be a 'changelog' folder within the same directory as this program
    file. Learn more about the changelog system here: 
    https://github.com/william-horn/my-coding-conventions/blob/main/document-conventions/about-changelog.txt

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-todo
    =================
    | DOCUMENT TODO |
    ==================================================================================================================================

    - 

    ----------------------------------------------------------------------------------------------------------------------------------
*/


/*
    ? @program-init
    ==================================================
    ================== CSS METADATA ==================
    ==================================================
*/


/* @changelog-record:start[5.0] */
/* 
    GLOBAL VARIABLES // BEGIN // 
*/
:root {
    --theme-yellow: #fce138;
    --theme-blue: #024e76;
}
/* 
    GLOBAL VARIABLES \\ END \\ 
*/
/* @changelog-record:end[5.0] */




/* 
    GLOBAL PROPERTY DEFAULTS // BEGIN // 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
    GLOBAL PROPERTY DEFAULTS // END // 
*/




/* 
    GLOBAL ELEMENT STYLES // BEGIN //
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #39a6b2;
}

section {
    padding: 60px;
}
/* 
    GLOBAL ELEMENT STYLES // BEGIN //
*/




/*
    ? @program-main
    ==================================================
    ================== CSS STYLING ===================
    ==================================================
*/


/* @css:"header"" */
/* 
    HEADER STYLE BEGINS 
*/
/* @changelog-record:start[6.0] */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--theme-yellow);
    margin: 0;
}

header a {
    color: var(--theme-yellow);
    text-decoration: none;
}

header nav {
    /* background-color: black; */
    margin: 7px 0;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* @changelog-record:end[6.0] */

header nav ul li a {
    /* margin: 0 30px; */
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    background-color: black; /* @debug-on:start:"background on just for viewing flexbox effects" */
}
/*
    HEADER STYLE \\ END \\
*/



/* @css:"hero" */
/*
    HERO STYLES // BEGIN //
*/
.hero {
    /* @changelog-record:start[2.0] */
    background-image: url("../images/flipped-hero-image.jpg");
    /* @changelog-record:end[2.0] */

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hero-form {
    color: var(--theme-blue);;
    background-color: var(--theme-yellow);
    padding: 20px;
    margin: 3.5%;
    border: solid 3px var(--theme-blue);
}

.hero-form button {
    background-color: var(--theme-blue);
    color: var(--theme-yellow);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form h3 {
    font-size: 24px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

/* @changelog-record:start[1.0] */
/* called .hero-cta in the module */
.hero-motive {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-motive h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

.hero-motive p {
    color: white;
    text-align: end;
}
/* @changelog-record:end[1.0] */

.form-input-field {
    border: 1px solid var(--theme-blue);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--theme-blue);
    width: 100%;
    margin-bottom: 15px;
}
/*
    HERO STYLES \\ END \\
*/



/* @css:"main content" */
/* 
    MAIN PAGE CONTENT // BEGINS // 
*/
/* @changelog-record:start[7.1] */
/* .intro {
    text-align: center;
} */
/* @changelog-record:end[7.1] */

.section-title {
    font-size: 48px;
    color: var(--theme-blue);

    /* @changelog-record:start[8.1] */
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35 auto;
    width: 50%;
    /* @changelog-record:end[8.1] */

    /* @changelog-record:start[7.0] */
    /* margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block; */
    /* @changelog-record:end[7.0] */

    border-bottom: 3px solid;
}

/* @changelog-record:start[8.0] */
.flex-row {
    display: flex;
}
/* @changelog-record:end[8.0] */

.primary-border {
    border-color: var(--theme-yellow);
}

.secondary-border {
    border-color: #39a6b2;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

/* @changelog-record:start[11.0] */
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  /* @changelog-record:end[11.0] */

.steps {
    /* @changelog-record:start[7.2] */
    /* text-align: center; */
    /* @changelog-record:end[7.2] */
    background: var(--theme-yellow);
}

.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* @changelog-record:start[10.0] */
/* .steps div {
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps span {
    font-size: 38px;
} */
/* @changelog-record:end[10.0] */

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-text {
    flex: 12;
}

.step-img img {
    max-width: 100%;
}



/* @changelog-record:start[10.1] */
.step h3 {
    color: var(--theme-blue);
    font-size: 46px;
    flex: 1 30%;
    /* margin-top: 10px; */
}
/* @changelog-record:end[10.1] */

/* @changelog-record:start[10.3] */
.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}
/* @changelog-record:end[10.3] */

/* @changelog-record:start[10.2] */
.step-text p {
    color: #39a6b2;
    font-size: 18px;
}
/* @changelog-record:end[10.2] */

/* @changelog-record:start[7.3] */
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* @changelog-record:end[7.3] */

.trainer {
    /* width:  900px; */
    margin: 0 auto 20px auto;
    background: var(--theme-blue);
    color: var(--theme-yellow);
    flex: 1;
    /* overflow: auto; */
}

.trainer img {
    width: 100%;
    /* float: left; */
}

.trainer-bio {
    padding: 25px;
    /* float: left; */
    /* width: 65%; */
    line-height: 1.3;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.trainer-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.trainer-bio p {
    font-size: 17px;
}

.contact {
    background: var(--theme-blue);
    /* @changelog-record:start[7.4] */
    /* text-align: center; */
    /* @changelog-record:end[7.4] */
}

.contact h3 {
    color: var(--theme-blue);
}

.contact h2 {
    color: var(--theme-yellow);
}

/* @changelog-record:start[3.0] */
.contact-info {
    height: 404px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* @debug-off:start:"background on for viewing changes" */
    /* background-color: black; */
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info iframe {
    height:  400px;
    /* width: 400px; */
    border: 0;
}

.contact-info form {
    width: 410px;
}

.contact-info button {
    width: 100%;
    height: 25px;
    background-color: var(--theme-yellow);
    border-radius: 10px;
}

.contact-info form h3 {
    text-align: start;
}

.contact-info form input {
    background-color: #c5d3de;
    border-radius: 10px;
    height: 25px;
    padding: 5px;
    display: block;
    width: 100%;
    margin: 20px 0;
}

#user-message {
    height: 50px;
}

.contact-info div {
    /* width: 410px;
    vertical-align: top;
    text-align: left; */
    color: white;
}
/* @changelog-record:end[3.0] */

.contact-info h3 {
    color: var(--theme-yellow);
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.contact-form button {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

.contact-info a {
    color: var(--theme-yellow);
}

/* @changelog-record:start[7.5] */
.flex-row {
    display: flex;
}
/* @changelog-record:end[7.5] */
/* 
    MAIN PAGE CONTENT \\ ENDS \\
*/

/* @css:"footer" */
/* 
   FOOTER STYLEs // BEGIN //
*/
/* @changelog-record:start[4.0] */
footer {
    background-color: var(--theme-blue);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--theme-yellow);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--theme-yellow);
}
/* @changelog-record:end[4.0] */
/* 
    FOOTER STYLEs \\ END \\
*/

/* ? @document-end */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}