/*
    ? @document-start
    ======================================
    | SECONDARY STYLESHEET FOR RUN BUDDY |
    ==================================================================================================================================

    ? @author:                 Run Buddy Team, William J. Horn
    ? @document-name:          secondary-styles.css
    ? @document-created:       02/12/2022
    ? @document-modified:      02/21/2022
    ? @document-version:       2.0

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-about
    ==================
    | ABOUT DOCUMENT |
    ==================================================================================================================================

    Secondary CSS styles for the Run Buddy website. This document also acts as a selector overload for the primary "style.css"
	file.

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-changelog
    ======================
    | DOCUMENT CHANGELOG |
    ==================================================================================================================================

    * If this program supports changelog records then there should be a 'changelog' folder within the same directory as this program
    file. Learn more about the changelog system here: 
    https://github.com/william-horn/my-coding-conventions/blob/main/document-conventions/about-changelog.txt

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-todo
    =================
    | DOCUMENT TODO |
    ==================================================================================================================================

    -  

    ----------------------------------------------------------------------------------------------------------------------------------
*/

.hero {
  background-position: bottom;
  height: auto;
  text-align: center;
  margin-bottom: 40px;
}


.section-title {
	color: #fce138;
	display: inline-block;
	font-weight: normal;
	font-size: 42px;
	font-style: italic;
}

.secondary-content {
	width: 80%;
	margin: 0 auto;
	color: #024e76;
}

.secondary-content h3 {
	font-size: 25px;
	margin: 20px 0 20 0;
}

.secondary-content p {
	font-size: 16px;
	line-height: 1.5;
	margin: 20px 0 20px 0;
}

.secondary-content ul {
	margin: 15px 20px 15px 20px;
}

.secondary-content li {
	color: #39a6b2;
	margin: 10px 0 10px 0;
}

/* @document-end */